{% extends "base.html" %}
{% block title %}{{ form.name }}{% endblock title %}
{% block header %}
  {% if request.user.is_superuser %}
    As superuser you can <a href="{% url "edit_form_fields" form.id %}"> <i class="fa fa-edit"></i> edit master form</a>
  {% endif %}
{% endblock header %}
{% block content %}
  <div class="container">

    {% include 'forms/includes/header.html' with name=form.name description='Uncollected Social Security and Medicare Tax on Wages' help_text="<b>▶ Go to www.irs.gov/Form8919 for the latest information. <br>▶ Attach to your tax return.</b>" year=year %}

    <div class="row" style="border-bottom: 1px solid black">
      <div class="col-md-2">
        <h5 class="weight-700">Who must file.</h5>
      </div>
      <div class="col-md-10">
        You must file Form 8919 if all of the following apply. <br>
        • You performed services for a firm. <br>
        • You believe your pay from the firm wasn’t for services as an independent contractor. <br>
        • The firm didn’t withhold your share of social security and Medicare taxes from your pay. • One of the reasons
        listed below under Reason codes applies to you. <br>
      </div>
    </div>

    <div class="row" style="border-bottom: 1px solid black">
      <div class="col-md-2">
        <h5 class="weight-700">Reason codes.</h5><br> <br>
        <h5 class="weight-700 pull-right">A</h5><br>
        <h5 class="weight-700">C</h5><br>
        <h5 class="weight-700">G</h5><br>
        <h5 class="weight-700">H</h5>
      </div>
      <div class="col-md-10">
        For each firm listed below, enter in column (c) the applicable reason code for filing this form. If none of the
        reason codes apply to you, but you believe you should have been treated as an employee, enter reason code G, and
        file Form SS-8 on or before the date you file your tax return.

        <p>I filed Form SS-8 and received a determination letter stating that I am an
        employee of this firm.</p>
        <p>I received other correspondence from the IRS that states I am an employee.</p>
        <p>I filed Form SS-8 with the IRS and haven’t received a reply.</p>
        <p>I received a Form W-2 and a Form 1099-MISC and/or 1099-NEC from this firm for</p>
        <p>2021. The amount on Form 1099-MISC and/or 1099-NEC should have been included as wages on Form W-2. (Don’t file
        Form SS-8 if you select reason code H.)</p>
      </div>
    </div>

    {% include "forms/includes/full_width_form.html" %}

    {% include 'forms/includes/footer.html' with name=form.name year=year %}
  </div>




{% endblock content %}