{% extends "base.html" %}
{% block title %}{{ form.name }}{% endblock title %}
{% block header %}
  {% if request.user.is_superuser %}
    As superuser you can <a href="{% url "edit_form_fields" form.id %}"> <i class="fa fa-edit"></i> edit master form</a>
  {% endif %}
{% endblock header %}
{% block content %}
  <div class="container">

    {% include 'forms/includes/header.html' with name=form.name description="Lump-sum distributions" help_text="<b>Attach to Form 1040, 1040-SR, or 1040-NR or 1041. Go to www.irs.gov/Form4972 for the latest information</b>" year=year %}

    <div class="row" style="border-bottom: 1px solid black">
      <div class="col-md-12">
        <h5>Current Year Profit (Loss) From the Activity, Including Prior Year Nondeductible Amounts. See instructions.</h5>
      </div>
    </div>

    {% include "forms/includes/full_width_form.html" %}

    {% include 'forms/includes/footer.html' with name=form.name year=year %}
  </div>

{% endblock content %}